.clock {
  background: green;
  color: white;
  width: 80%;
  padding: 20px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bolder;
  margin: 30px auto;
  border: 10px solid blue;
}

div {
  height: 200px;
  width: 200px;
}
